@import url("./reset.css");

@font-face {
    font-family: 'NPSfontBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body,
h2,
h3 {
    font-family: 'SUITE-Regular';
}

h1,
h4,
h5 {
    font-family: 'NPSfontBold';
}

/* 로고 타이틀 숨기기 */
.t_hidden {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* header */
header {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 100;
}

.header_i {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 100px;
}

.header_i .ham {
    display: none;
}

nav {
    width: 800px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
}

nav .menu {
    height: 30px;
    display: flex;
}

nav .menu>li {
    width: 200px;
    text-align: center;
    line-height: 50px;
    transition: 0.3s;
}

nav .submenu {
    display: none;
}

nav .submenu li {
    transition: 0.3s;
    background-color: rgba(236, 236, 236, 0.7);
}

nav li a {
    display: block;
}

nav .menu>li a:hover {
    color: #3470E2;
}

nav .submenu li a:hover {
    color: #62A140;
}

/* ham */
.m_menu {
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -350px;
    background-color: #E1E1E1;
    padding: 85px 0px 0px 10px;
    font-weight: bold;
    font-size: 20px;
}

.m_menu .close {
    position: absolute;
    top: 30px;
    right: 10px;
}

.m_menu>li {
    width: 100%;
    line-height: 40px;
    margin-top: 20px;
    border-bottom: 1px solid #62A140;
}

.m_menu .submenu>li {
    line-height: 50px;
    font-size: 16px;
    font-weight: normal;
}

.m_menu .submenu {
    height: 0;
    overflow: hidden;
}

.m_menu>li:hover {
    transition-duration: 0.5s;
}

.m_menu>li:hover .submenu {
    height: 150px;
    transition-duration: 1s;
}

.m_menu>li:hover .a {
    height: 350px;
    transition-duration: 1s;
}

/* //ham */

/* //header */



/* main */
main {
    margin-bottom: 200px;
}

main .mbox {
    position: relative;
}

main .mbox .title {
    text-align: center;
}

main .mbox .title p {
    font-size: 44px;
}

main .mbox .title h2 {
    font-size: 112px;
}

main .mbox .slide {
    width: 100%;
    height: 800px;
}

main .mbox .title {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* //main */

/* section01 */
.section01 .container h3 {
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 50px;
}

.section01 .container .row {
    font-size: 20px;
    color: #fff;
}

.section01 .box {
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: relative;
}


.section01 .box span {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.7));
    display: none;
    border-radius: 30px;
}

.section01 .box p {
    position: absolute;
    font-size: 20px;
    left: 30px;
    bottom: 30px;
    display: none;
}

.section01 .a {
    margin-bottom: 24px;
}

.section01 .a p {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.section01 .b {
    margin-bottom: 24px;
}

.section01 .b p {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.section01 .c p {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.section01 .d p {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

/* //section01 */

/* section02 */
.section02 .container>.title {
    margin-top: 200px;
    margin-bottom: 40px;
}

.section02 .container>.title h4 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section02 .container>.title span {
    color: #3470E2;
}

.section02 .container .title p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
}

.section02 .container .box h5 {
    font-size: 28px;
    margin-bottom: 5px;
}

.section02 .container .box p {
    font-size: 16px;
}

.section02 .container .a .box {
    position: relative;
}

.section02 .container .a .title {
    position: absolute;
    top: 20px;
    left: 15px;
    color: #fff;
}

.section02 .container .a .add {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.section02 .container .b .box {
    position: relative;
    margin-bottom: 24px;
}

.section02 .container .b .title {
    position: absolute;
    top: 20px;
    left: 15px;
    color: #fff;
}

.section02 .container .b .add {
    position: absolute;
    bottom: 30px;
    right: 30px;
}


.section02 .container .c .box {
    position: relative;
}

.section02 .container .c .box:first-child {
    margin-bottom: 24px;
}

.section02 .container .c .title {
    position: absolute;
    top: 20px;
    left: 15px;
    color: #fff;
}

.section02 .container .c .add {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.section02 .container .d .box {
    position: relative;
}

.section02 .container .d .title {
    position: absolute;
    top: 20px;
    left: 15px;
    color: #fff;
}

.section02 .container .d .add {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

/* //section02 */

.banner {
    margin: 200px 0;
}

.banner img {
    border-radius: 0;
}


/* section03 */
.section03 .container>.title {
    margin-bottom: 50px;
}

.section03 .container>.title h4 {
    font-size: 36px;
}

.section03 .container>.title span {
    color: #3470E2;
}

.section03 .sbox {
    width: 364px;
    height: 320px;
    border-radius: 30px;
    background-color: #3470E2;
    color: #fff;
    position: relative;
}

.section03 .sbox .title {
    position: absolute;
    top: 20px;
    left: 15px;
}

.section03 .sbox .title h5 {
    font-size: 28px;
    margin-bottom: 5px;
}

.section03 .sbox .add {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.section03 .a .sbox {
    background-color: #62A140;
}

.section03 .container .row {
    margin-bottom: 200px;
}

/* //section03 */



/* video */
.vbox {
    margin-bottom: 200px;
}

.vbox h3 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 50px;
}

video{
    width: 1140px;
    height: 580px;
}

/* //video */

/* top_icon */
.topbtn {
    position: fixed;
    font-size: 58px;
    bottom: 50px;
    right: 100px;
}

/* //top_icon */

/* footer */
footer {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #989898;
}

.f_box01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 40px;
}

.f_box01 figure img {
    border-radius: 0;
}

.f_box01 ul {
    width: 405px;
    display: flex;
    justify-content: space-between;
}

.f_box02 {
    margin-bottom: 50px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: column;
}

.f_box02 span {
    display: block;
    margin-bottom: 40px;
}

.f_box3 {
    width: 100%;
    height: 50px;
    background-color: #3C3C3C;
    text-align: center;
    color: #fff;
    line-height: 50px;
}

/* //footer */

/* 반응형분기점 */

@media screen and (max-width:1200px) {
    .header_i nav .menu {
        display: none;
    }

    .header_i .ham {
        display: block;
        font-size: 32px;
        cursor: pointer;
    }

    .header_i .m_menu i {
        font-size: 36px;
    }

    main .mbox .slide {
        width: 100%;
        height: 500px;
    }

    main .mbox .title p {
        font-size: 36px;
    }

    main .mbox .title h2 {
        font-size: 92px;
    }

    nav .menu>li {
        width: 120px;
        text-align: center;
        line-height: 50px;
        transition: 0.3s;
    }

    .section01 .container h3 {
        font-size: 40px;

    }

    .topbtn {
        right: 50px;
    }
}

@media screen and (max-width:767px) {

    .header_i {
        display: flex;
        margin: 30px 10px;
    }

    /* .header_i nav .menu {
        display: none;
    }

    .header_i .ham {
        display: block;
        font-size: 32px;
        cursor: pointer;
    }

    .header_i .m_menu i {
        font-size: 36px;
    } */

    main {
        margin-bottom: 150px;
    }

    main .mbox .slide {
        width: 100%;
        height: 312.5px;
    }

    main .mbox .title p {
        font-size: 28px;
    }

    main .mbox .title h2 {
        font-size: 68px;
    }

    .section01 .container h3 {
        font-size: 36px;
    }

    .section01 .container p {
        bottom: 40px;
    }

    .section01 .a {
        margin-bottom: 15px;
    }

    .section01 .b {
        margin-bottom: 15px;
    }

    .section01 .c {
        margin-bottom: 15px;
    }

    .section02 .container>.title h4 {
        font-size: 28px;
    }

    .section02 .container .title p {
        font-size: 18px;
        margin-bottom: 40px;
    }

    .section02 .container .a {
        margin-bottom: 15px;
    }

    .section02 .container .b .box {
        margin-bottom: 15px;
    }

    .section02 .container .c .box:first-child {
        margin-bottom: 15px;
    }

    .section02 .container .c .box:last-child {
        margin-bottom: 15px;
    }

    .section03 .container>.title h4 {
        font-size: 28px;
    }

    .section03 {
        padding: 0;
    }

    .section03 .sbox {
        width: 100%;
        height: 300px;
        margin-bottom: 15px;
    }

    video {
        width: 100%;
        height: 300px;
    }

    .vbox h3 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .topbtn {
        right: 0px;
    }

    .f_box01 {
        flex-direction: column-reverse;
        margin-top: 40px;
    }

    .f_box01 ul {
        margin-bottom: 50px;
    }

    .f_box02 {
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
    }

}





@media screen and (max-width:575px) {

    header{
        position: fixed;
        background-color: #fff;
    }
    
    .header_i {
        display: flex;
        align-items: center;
        margin: 30px 10px;
    }

    .header_i img {
        width: 300px;
    }

    main .mbox .slide {
        height: 100%;
    }

    main .mbox .title p {
        font-size: 24px;
    }

    main .mbox .title h2 {
        font-size: 52px;
    }

    .section01 .container h3 {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .section03 {
        margin-bottom: 150px;
    }

    .section03 .container .title {
        margin-bottom: 30px;
    }

    .section03 .sbox {
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
    }

    .vbox {
        margin-bottom: 150px;
    }

    .vbox .container h3 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    video {
        width: 100%;
        height: 300px;
        margin: auto;
    }

    footer .f_box01 figure img {
        width: 150px;
    }

    .topbtn {
        font-size: 40px;
        right: 0px;
    }
}





@media screen and (max-width:400px) {

    .header_i {
        margin: 30px 10px;
    }

    .header_i img {
        width: 400px;
    }

    .m_menu {
        width: 300px;
        height: 100%;
        right: -300px;
        padding: 85px 0px 0px 20px;
    }

    main .mbox .slide {
        height: 100%;
    }

    main .mbox .title p {
        font-size: 16px;
    }

    main .mbox .title h2 {
        font-size: 36px;
    }

    .section01 .container h3 {
        font-size: 24px;
    }

    .section01 .container .box p {
        font-size: 16px;
        bottom: 15px;
    }

    .section02 .container .title h4 {
        font-size: 24px;
    }

    .section02 .container .title p {
        font-size: 17px;
    }

    .section02 .container .box h5 {
        font-size: 20px;
    }

    .section02 .container .box p {
        font-size: 16px;
    }

    .section02 .container .box .add {
        width: 35px;
        height: 35px;
        right: 20px;
        bottom: 10px;
    }

    .section03 .container .title h4 {
        font-size: 24px;
    }

    .section03 .container .sbox {
        height: 150px;
    }

    .section03 .container .sbox h5 {
        font-size: 20px;
    }

    .section03 .container .sbox p {
        font-size: 16px;
    }

    .section03 .container .sbox .add {
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 10px;
    }

    .vbox .container h3 {
        font-size: 24px;
        margin-bottom: 0px;
    }

    footer .f_box01 figure img {
        width: 120px;
    }

    .f_box01 ul {
        width: 300px;
    }


    .f_box3 {
        font-size: 12px;
    }
}
